.terminal {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.terminal-controls DIV {
    float: right;
    margin: 5px;
}

body {
    margin: 8px;
}

.terminal-screen {
    box-sizing: initial;
}

.terminal-display {
    background-color: initial;
    border: initial;
    border-radius: initial;
    line-height: initial;
    padding: initial;
    word-wrap: initial;
}

